<div data-filter="rails" class="project kairanban active" style="background-image: url(<%= image_path "kairanban.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-rails-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-heroku-original"></i>
    </div>
    <div class="center-vertical-info">
      <h2>KAIRANBAN</h2>
      <h3>Connecting the Third Age</h3>
      <p>A platform that aims to connect the elderly people to their own local communities. Find stores around yourself and recommend them to other neighbours, join events and know the latest news in the neighborhood!</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/rails-elderly-chatbox" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://good-neighbour.herokuapp.com/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>
<div data-filter="rails" class="project baiku active" style="background-image: url(<%= image_path "baiku.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-rails-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-figma-plain"></i>
      <i class="devicon-heroku-original"></i>
    </div>
    <div class="center-vertical-info">
      <h2>BAIKU</h2>
      <h3>Find A Better Parking Spot</h3>
      <p>A  service to help users find parking slots shared by the community. Search for a convenient spot nearby, add new hidden gems, join the community and much more!</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/baiku-app" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://www.baiku-official.com/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>
<div data-filter="rails" class="project studio-find active" style="background-image: url(<%= image_path "studio-find.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-rails-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-figma-plain"></i>
      <i class="devicon-heroku-original"></i>
    </div>
    <div class="center-vertical-info">
      <h2>STUDIO FIND</h2>
      <h3>Your Studio Marketplace</h3>
      <p>A marketplace where users can either rent studios or upload their own spaces for others to use. Are you in need of a place to do yoga? what about dance? Studio Find is here to save the day!</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/studio-find" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://studio-find.herokuapp.com/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>
<div data-filter="react" class="project tictactoe active" style="background-image: url(<%= image_path "tictactoe.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-react-original"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
    </div>
    <div class="center-vertical-info">
      <h2>REACT TICTACTOE</h2>
      <h3>A Simple Game Made with React</h3>
      <p>Play the game with your friends, check your move history and win big with this React app!</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/react-tictactoe" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://tictacapp.surge.sh/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>
<div data-filter="react" class="project giphy active" style="background-image: url(<%= image_path "giphy.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-react-original"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
    </div>
    <div class="center-vertical-info">
      <h2>REACT GIPHY</h2>
      <h3>The Power Of Gifs In One App</h3>
      <p>Play around with Giphy, one of the largest Gif database via API calls!</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/react-giphy" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://giphy-project.surge.sh/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>
<div data-filter="api" class="project rest-api active" style="background-image: url(<%= image_path "rest-api.png"%>)">
  <div class="project-intro">
    <div class="stack-icons">
      <i class="devicon-rails-plain"></i>
      <i class="devicon-postgresql-plain"></i>
    </div>
    <div class="center-vertical-info">
      <h2>KAIRANBAN API</h2>
      <h3>A REST API For the Third Age</h3>
      <p>It allows Kairanban users to see all the shops in the database, add their own shop, update it or delete it in a safe environment thanks to the token authentication.</p>
      <div class="links-project">
        <a class="github-btn" href="https://github.com/josem-gp/Elderly-API" target="_blank">GITHUB</a>
        <a class="project-btn" href="https://good-neighbour-api.herokuapp.com/" target="_blank">PROJECT</a>
      </div>
    </div>
  </div>
</div>