<div data-aos="<%= product.type == 'desktop' ? 'flip-up' : 'zoom-in' %>" data-aos-duration="1200">
  <div class="device <%= product.type == 'desktop' ? 'device-macbook device-spacegray' : 'device-iphone-x' %>">
    <div class="device-frame">
      <div id="carouselExampleIndicators<%= index %>" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <% product.images.each_with_index do |image, idx| %>
          <div class="carousel-item <%= idx == 0 ? 'active' : '' %>">
            <img class="d-block w-100" src="<%= image %>" alt="Image <%= idx %>">
          </div>
        <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators<%= index %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators<%= index %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="device-stripe"></div>
    <div class="device-header"></div>
    <div class="device-sensors"></div>
    <div class="device-btns"></div>
    <div class="device-power"></div>
  </div>
</div>
