<div id="project" class="projects">
  <h1>PROJECTS</h1>
  <hr style="width:40%">
  <div class="projects-grid">
    <div class="project" style="background-image: url(<%= image_path "giphy.png"%>)">
      <div class="project-intro">
        <h2>React Giphy</h2>
        <h3>The power of Gifs in one App</h3>
        <p>Play around with Giphy, one of the largest Gif database via API calls!</p>
        <div class="stack-icons">
          <i class="devicon-react-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://giphy-project.surge.sh/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "tictactoe.png"%>)">
      <div class="project-intro">
        <h2>React TicTacToe</h2>
        <h3>A simple game made with React</h3>
        <p>Play the game with your friends, check your move history and win big with this React app!</p>
        <div class="stack-icons">
          <i class="devicon-react-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://tictacapp.surge.sh/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "api.png"%>)">
      <div class="project-intro">
        <h2>Kairanban API</h2>
        <h3>A RESTful API for the Third Age</h3>
        <p>It allows Kairanban users to see all the shops in the database, add their own shop, update it or delete it in a safe environment thanks to the token authentication.</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
        </div>
        <div class="links-project">
          <a href="https://good-neighbour-api.herokuapp.com/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "kairanban.png"%>)">
      <div class="project-intro">
        <h2>Kairanban</h2>
        <h3>Connecting the Third Age</h3>
        <p>A platform that aims to connect the elderly people to their own local communities. <br>
          Find stores around yourself and recommend them to other neighbours, join events and know the latest news in the neighborhood!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://good-neighbour.herokuapp.com/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "baiku.png"%>)">
      <div class="project-intro">
        <h2>Baiku</h2>
        <h3>Find a better parking spot</h3>
        <p>A  service to help users find parking slots shared by the community.<br>
          Search for a convenient spot nearby, add new hidden gems, join the community and much more!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-figma-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://www.baiku-official.com/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "studio-find.png"%>)">
      <div class="project-intro">
        <h2>Studio Find</h2>
        <h3>The studio's marketplace</h3>
        <p>A marketplace where users can either rent studios or upload their own spaces for others to use. <br>
          Are you in need of a place to do yoga? what about dance? Studio Find is here to save the day!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-figma-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://studio-find.herokuapp.com/" target= "_blank">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>