<div id="tech-stack" class="tech-stack">
  <div class="container">
    <div class="header-right">
      <div data-aos="fade-left">
        <h1 id="h1-right">MY TECH STACK.</h1>
        <hr id="hr-right">
      </div>
    </div>
    <div class="presentation-me">
      <div class="stacks">
        <button><i class="fas fa-caret-right"></i>FRONT END</button>
        <div class="icons-flex">
          <div class="icon">
            <%= image_tag 'react.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'javascript.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'html.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'css.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'bootstrap.png' %>
          </div>
        </div>
      </div>
      <div class="stacks">
        <button><i class="fas fa-caret-right"></i>BACK END</button>
        <div class="icons-flex">
          <div class="icon">
            <%= image_tag 'rails.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'postgresql.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'oraclesql.png' %>
          </div>
        </div>
      </div>
      <div class="stacks">
        <button><i class="fas fa-caret-right"></i>DEVOPS</button>
        <div class="icons-flex">
          <div class="icon">
            <%= image_tag 'heroku.png' %>
          </div>
        </div>
      </div>
      <div class="stacks">
        <button><i class="fas fa-caret-right"></i>OTHER SKILLS</button>
        <div class="icons-flex">
          <div class="icon">
            <%= image_tag 'python.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'figma.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'git.png' %>
          </div>
          <div class="icon">
            <%= image_tag 'github.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1625558730">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>