<div class='header'>
  <div class="intro">
    <div class="icons">
      <a href="https://www.linkedin.com/in/josemanuelgp/" target= "_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/josem-gp" target= "_blank"><i class="fab fa-github-square"></i></a>
      <a href="https://jgarciaportillo.medium.com/" target= "_blank"><i class="fab fa-medium"></i></a>
    </div>
    <div class="subheader-image">
      <h1>Jose Manuel Garcia Portillo</h1>
      <h2>Full-Stack Web Developer</h2>
      <h3>Hi there! I'm passionate about coding and learning new skills. <br>
        I love thinking about new ideas and bringing them to life. </h3>
      <div class="action-btns">
        <a href="#about-me">ABOUT ME</a>
        <a href="#project">MY WORK</a>
        <a href="#contact">CONTACT</a>
      </div>
    </div>
  </div>
  <div id="about-me" class="about">
    <h1>ABOUT ME</h1>
    <hr style="width:40%">
    <div class="aboutme-grid">
      <div class="presentation">
        <%= image_tag "profile.JPG", class: 'Profile pic' %>
        <p>I'm a <strong>Full Stack Web Developer</strong> with a background in the teaching industry.
          I believe we can make a <strong>positive impact</strong> in the society with Code, be it to your local community or in a bigger scale.
          <br>
          <br>
          I also have interest in Data Science and Applied Machine Learning to solve Real-World problems, so... please don't get too confused if you see some ML / AI project mixed in! 😝</p>
      </div>
      <div class="tech-stack">
        <h2>My Tech Stack</h2>
        <hr style="width:20%">
        <div class="stack">
          <div class="front-back-others">
            <h3>Front End</h3>
            <div class="icons-grid">
              <div class="icon">
                <p id='js'>JS ES6</p>
                <%= image_tag 'javascript.png' %>
              </div>
              <div class="icon">
                <p id='html'>HTML5</p>
                <%= image_tag 'html.png' %>
              </div>
              <div class="icon">
                <p id='css'>CSS3</p>
                <%= image_tag 'css.png' %>
              </div>
              <div class="icon">
                <p id='bootstrap'>BOOTSTRAP</p>
                <%= image_tag 'bootstrap.png' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="projects-intro">
    <!--  <div class="title">
        <h2>HI! THANK YOU FOR YOUR INTEREST.<br>
          HERE ARE MY PROJECTS</h2>
        <hr style="width:40%">
      </div> -->
  <!-- <a class="btn btn-ghost">Contact me</a> -->
  <!-- <div class="clickable">
        <a href="#project-div"><i class="fas fa-sort-down"></i></a>
      </div> -->
  <!-- /div> -->
  <!-- </div> -->
  <!-- <div data-aos="fade-right" id="project-div"> -->
  <!-- </div> -->
  <!-- <div data-aos="fade-right" class="projects"> -->
  <h2>My projects</h2>
  <div class="project">
    <div class="project-image">
      <%= image_tag "kairanban.png", class: 'horizontal-img' %>
    </div>
    <div class="project-description">
      <h1>Kairanban</h1>
      <h3>Personal Project</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
      <i class="far fa-gem"></i><i class="fab fa-js"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-bootstrap"></i>
      <!--  <img src="https://img.icons8.com/ios/50/000000/heroku.png"/> -->
      <a href="#">View Project</a>
      <a href="#">View Code</a>
    </div>
  </div>
  <div class="project">
    <div class="project-image">
      <%= image_tag "baiku.png", class: 'vertical-img' %>
    </div>
    <div class="project-description">
      <h1>Baiku</h1>
      <h3>Lead Developer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
      <i class="far fa-gem"></i><i class="fab fa-js"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-bootstrap"></i>
      <!--  <img src="https://img.icons8.com/ios/50/000000/heroku.png"/> -->
      <a href="#">View Project</a>
      <a href="#">View Code</a>
    </div>
  </div>
  <div class="project">
    <div class="project-image">
      <%= image_tag "studio-find.png", class: 'horizontal-img' %>
    </div>
    <div class="project-description">
      <h1>Studio-Find</h1>
      <h3>Lead Developer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
      <i class="far fa-gem"></i><i class="fab fa-js"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-bootstrap"></i>
      <!--       <img src="https://img.icons8.com/ios/50/000000/heroku.png"/> -->
      <a href="#">View Project</a>
      <a href="#">View Code</a>
    </div>
  </div>
  <!-- </div> -->