<div class='header'>
  <div class="intro">
    <div class="subheader-image">
      <h1>Jose Manuel Garcia Portillo</h1>
      <h2>Full-Stack Web Developer</h2>
      <h3>Hi there! I'm passionate about coding and learning new skills. <br>
        I love thinking about new ideas and bringing them to life. </h3>
      <div class="action-btns">
        <a href="#about-me">ABOUT ME</a>
        <a href="#project">MY WORK</a>
        <a href="#contact-me">CONTACT</a>
      </div>
    </div>
  </div>
</div>
<div id="about-me" class="about">
  <h1>ABOUT ME</h1>
  <hr style="width:40%">
  <div class="aboutme-grid">
    <div class="presentation">
      <%= image_tag "profile.JPG", class: 'Profile pic' %>
      <p>I'm a <strong>Full Stack Web Developer</strong> with a background in the teaching industry.
        I believe we can make a <strong>positive impact</strong> in the society with code, be it to your local community or in a bigger scale.
        <br>
        <br>
        I also have interest in Data Science and Applied Machine Learning to solve Real-World problems, so... please don't get too confused if you see some ML / AI project mixed in!</p>
    </div>
    <div class="tech-stack">
      <h2>MY TECH STACK</h2>
      <hr style="width:20%">
      <div class="stack">
        <div class="front-back-others">
          <h3>Front End</h3>
          <div class="icons-grid">
            <div class="icon">
              <p id='js'>JS ES6</p>
              <%= image_tag 'javascript.png' %>
            </div>
            <div class="icon">
              <p id='html'>HTML5</p>
              <%= image_tag 'html.png' %>
            </div>
            <div class="icon">
              <p id='css'>CSS3</p>
              <%= image_tag 'css.png' %>
            </div>
            <div class="icon">
              <p id='bootstrap'>BOOTSTRAP</p>
              <%= image_tag 'bootstrap.png' %>
            </div>
          </div>
        </div>
        <div class="front-back-others">
          <h3>Back End</h3>
          <div class="icons-grid">
            <div class="icon">
              <p id='rails'>RAILS</p>
              <%= image_tag 'rails.png' %>
            </div>
            <div class="icon">
              <p id='postgre'>POSTGRESQL</p>
              <%= image_tag 'postresql.png' %>
            </div>
            <div class="icon">
              <p id='oracle'>ORACLE</p>
              <%= image_tag 'oraclesql.png' %>
            </div>
          </div>
        </div>
        <div class="front-back-others">
          <h3>DevOps</h3>
          <div class="icons-grid">
            <div class="icon">
              <p id='heroku'>HEROKU</p>
              <%= image_tag 'heroku.png' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="project" class="projects">
  <h1>PROJECTS</h1>
  <hr style="width:40%">
  <div class="projects-grid">
    <div class="project" style="background-image: url(<%= image_path "kairanban.png"%>)">
      <div class="project-intro">
        <h2>Kairanban</h2>
        <h3>Connecting the Third Age</h3>
        <p>A platform that aims to connect the elderly people to their own local communities. <br>
          Find stores around yourself and recommend them to other neighbours, join events and know the latest news in the neighborhood!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://good-neighbour.herokuapp.com/">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "baiku.png"%>)">
      <div class="project-intro">
        <h2>Baiku</h2>
        <h3>Find a better parking spot</h3>
        <p>A  service to help users find parking slots shared by the community.<br>
          Search for a convenient spot nearby, add new hidden gems, join the community and much more!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-figma-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://www.baiku-official.com/">View Project</a>
        </div>
      </div>
    </div>
    <div class="project" style="background-image: url(<%= image_path "studio-find.png"%>)">
      <div class="project-intro">
        <h2>Studio Find</h2>
        <h3>The studio's marketplace</h3>
        <p>A marketplace where users can either rent studios or upload their own spaces for others to use. <br>
          Are you in need of a place to do yoga? what about dance? Studio Find is here to save the day!</p>
        <div class="stack-icons">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
          <i class="devicon-figma-plain colored"></i>
          <i class="devicon-heroku-original colored"></i>
        </div>
        <div class="links-project">
          <a href="https://studio-find.herokuapp.com/">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contact-me" class="contact">
  <h1>CONTACT ME</h1>
  <hr style="width:40%">
  <div class="icons">
    <div class="navigation-button">
      <i class="fas fa-envelope"></i>
      <%= mail_to "jgarciaportillo@gmail.com", "", class: 'navigation-button-link' %>
    </div>
    <a href="https://www.linkedin.com/in/josemanuelgp/" target= "_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/josem-gp" target= "_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://jgarciaportillo.medium.com/" target= "_blank"><i class="fab fa-medium"></i></a>
  </div>
  <div class="footer">
    <p>©2021 Jose Manuel Garcia Portillo. All rights reserved.</p>
  </div>
</div>